PowerCATToolkit/SolutionPackage/src/Workflows/RiskAssessmentScanallcustomroles-F44DDF13-9ABE-EF11-B8E8-7C1E520AC2D8.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "msdyn_DVAcceleratorMicrosoftDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "AssessmentSettingId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "This is optional, if this value is passed it will scan only roles associated with this assessment setting",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "57983a27-84b7-44d8-b8ec-6602065723e3"
          }
        }
      },
      "actions": {
        "Get_Default_Risk_Assessment_Setting": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_riskassessmentsettings",
              "$filter": "cat_isdefault eq true and statecode eq 0",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Check_if_current_value_is_present_or_not": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "metadata": {
            "operationMetadataId": "8931e039-5aad-4c28-9409-a3ce356ac7ec"
          }
        },
        "Get_Custom_Security_Roles": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "roles",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"role\">\n    <attribute name=\"name\" />\n    <attribute name=\"businessunitid\" />\n    <attribute name=\"roleid\" />\n    <attribute name=\"createdby\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"parentroleid\" operator=\"null\" />\n    </filter>\n    <link-entity name=\"systemuser\" from=\"systemuserid\" to=\"createdby\" link-type=\"inner\" alias=\"ax\">\n      <filter type=\"and\">\n        <condition attribute=\"fullname\" operator=\"ne\" value=\"SYSTEM\" />\n      </filter>\n    </link-entity>\n    <link-entity name=\"solution\" from=\"solutionid\" to=\"solutionid\" link-type=\"inner\" alias=\"as\">\n      <filter type=\"and\">\n        <condition attribute=\"uniquename\" operator=\"not-like\" value=\"%msdyn%\" />\n        <condition attribute=\"uniquename\" operator=\"not-like\" value=\"%msft%\" />\n        <condition attribute=\"uniquename\" operator=\"not-like\" value=\"%dynamics%\" />\n<condition attribute=\"uniquename\" operator=\"not-like\" value=\"%adx%\" />\n<condition attribute=\"uniquename\" operator=\"not-like\" value=\"%msprov%\" />\n<condition attribute=\"uniquename\" operator=\"not-like\" value=\"%mspcat%\" />\n<condition attribute=\"uniquename\" operator=\"not-like\" value=\"%PowerPages%\" />\n<condition attribute=\"uniquename\" operator=\"not-like\" value=\"%PowerPlatform%\" />\n<condition attribute=\"uniquename\" operator=\"not-like\" value=\"%Microsoft%\" />\n\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Check_if_default_risk_assessment_exists": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "metadata": {
            "operationMetadataId": "b18aaafd-1235-425d-b1ab-6d8430d82156"
          }
        },
        "Initialize_UnscannedRoles": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UnscannedRoles",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {
            "Initialize_CountOfScannedRoles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0f0e794d-6bea-455c-8ecd-cd74076acb18"
          }
        },
        "Initialize_ExistingRoles": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ExistingRoles",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {
            "Initialize_DefaultRiskAssessmentSettingReference": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8e4b6e27-8c48-47a6-8867-50b0833693b6"
          }
        },
        "Initialize_NewAssessments": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NewAssessments",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {
            "Initialize_BatchStatus": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35b05a75-63ee-4642-814a-4861409e9885"
          }
        },
        "Get_Environmentvariable_value": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "environmentvariablevalues",
              "$filter": "EnvironmentVariableDefinitionId/schemaname eq 'msdyn_DVAcceleratorBatchStatus'",
              "$expand": "EnvironmentVariableDefinitionId"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Initialize_RiskAssessmentsFilterCondition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8de36f8f-01e0-459b-a464-ea260bc5afe5"
          }
        },
        "Initialize_BatchStatus": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BatchStatus",
                "type": "object",
                "value": {
                  "BatchId": "@{guid()}",
                  "BatchStatus": "Running"
                }
              }
            ]
          },
          "runAfter": {
            "Initialize_ExistingRoles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ca2986de-7967-4c83-b1d3-a8427aa176ce"
          }
        },
        "Check_if_current_value_is_present_or_not": {
          "type": "If",
          "expression": {
            "greater": [
              "@length(outputs('Get_Environmentvariable_value')?['body/value'])",
              0
            ]
          },
          "actions": {
            "Set_VariableId": {
              "type": "SetVariable",
              "inputs": {
                "name": "EnvironmentVariableValueId",
                "value": "@{first(outputs('Get_Environmentvariable_value')?['body/value'])?['environmentvariablevalueid']}"
              },
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9ba94a55-14d2-432d-abfb-48828176e75f"
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "equals": [
                  "@empty(outputs('Get_Environmentvariable_value')?['body/value']?[0]?['value'])",
                  "@true"
                ]
              },
              "actions": {
                "Update_current_value_for_the_environment_variable_2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "environmentvariablevalues",
                      "recordId": "@first(outputs('Get_Environmentvariable_value')?['body/value'])?['environmentvariablevalueid']",
                      "item/value": "@variables('BatchStatus')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "3669ad36-fdc7-4449-9337-311ac9f68c9b"
                  }
                }
              },
              "else": {
                "actions": {
                  "Parse_Environmentalvariable_current_value": {
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@first(outputs('Get_Environmentvariable_value')?['body/value'])?['value']",
                      "schema": {
                        "type": "object",
                        "properties": {
                          "BatchId": {
                            "type": "string"
                          },
                          "BatchStatus": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "638e5d71-fea3-40a5-9e15-cfd05560c3f9"
                    }
                  },
                  "Check_if_the_batchstatus_is_running": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@body('Parse_Environmentalvariable_current_value')?['BatchStatus']",
                            "@string('Running')"
                          ]
                        }
                      ]
                    },
                    "actions": {},
                    "else": {
                      "actions": {
                        "Update_current_value_for_the_environment_variable": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "environmentvariablevalues",
                              "recordId": "@first(outputs('Get_Environmentvariable_value')?['body/value'])?['environmentvariablevalueid']",
                              "item/value": "@variables('BatchStatus')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "UpdateOnlyRecord",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "3669ad36-fdc7-4449-9337-311ac9f68c9b"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Parse_Environmentalvariable_current_value": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c4b14195-a4d8-4acc-bcc7-8f7c91393fe9"
                    }
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "431c0939-c5f4-4e38-91a6-9c1c8386eb8f"
              }
            }
          },
          "else": {
            "actions": {
              "Get_variable_definition": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "environmentvariabledefinitions",
                    "$filter": "schemaname eq 'msdyn_DVAcceleratorBatchStatus'"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                },
                "metadata": {
                  "operationMetadataId": "26705b9c-177d-495d-a4c2-d8d707ef0376"
                }
              },
              "Add_a_current_value": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "environmentvariablevalues",
                    "item/schemaname": "msdyn_DVAcceleratorBatchStatus",
                    "item/EnvironmentVariableDefinitionId@odata.bind": "/environmentvariabledefinitions(@{first(outputs('Get_variable_definition')?['body/value'])?['environmentvariabledefinitionid']})",
                    "item/value": "{\"BatchId\":\"@{guid()}\",\"BatchStatus\":\"Running\"}"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                },
                "runAfter": {
                  "Get_variable_definition": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "a57dc576-1fa5-44f1-9c9d-3c346e3898f4"
                }
              },
              "Set_EnvVariableID": {
                "type": "SetVariable",
                "inputs": {
                  "name": "EnvironmentVariableValueId",
                  "value": "@outputs('Add_a_current_value')?['body/environmentvariablevalueid']"
                },
                "runAfter": {
                  "Add_a_current_value": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "3a20e313-af26-46d9-8d8c-c09be4913e7e"
                }
              }
            }
          },
          "runAfter": {
            "Get_Environmentvariable_value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8e1af887-e31e-406b-a710-df3c6acd9962"
          }
        },
        "Initialize_EnvironmentVariableValueId": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EnvironmentVariableValueId",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_NewAssessments": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "16ba755c-4bc6-42b2-82a1-e2735ca95090"
          }
        },
        "Initialize_CountOfScannedRoles": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CountOfScannedRoles",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "968ebabb-321c-4596-bb10-ba0bae2ca641"
          }
        },
        "Initialize_DefaultRiskAssessmentSettingReference": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DefaultRiskAssessmentSettingReference",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_UnscannedRoles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3df7578e-a440-4999-b19d-4d014a400835"
          }
        },
        "Check_if_default_risk_assessment_exists": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(outputs('Get_Default_Risk_Assessment_Setting')?['body/value'])",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Set_DefaultRiskAssessmentSettingReference_value": {
              "type": "SetVariable",
              "inputs": {
                "name": "DefaultRiskAssessmentSettingReference",
                "value": "/cat_riskassessmentsettings(@{first(outputs('Get_Default_Risk_Assessment_Setting')?['body/value'])?['cat_riskassessmentsettingid']})"
              },
              "metadata": {
                "operationMetadataId": "cc27ee49-4a10-4c72-9093-488d8f6c05cd"
              }
            }
          },
          "else": {
            "actions": {
              "Set_Default_Risk_Assessment_Setting_Reference": {
                "type": "SetVariable",
                "inputs": {
                  "name": "DefaultRiskAssessmentSettingReference",
                  "value": "@null"
                },
                "metadata": {
                  "operationMetadataId": "ca27ead3-f895-4e79-a2bc-417a3dd93f95"
                }
              }
            }
          },
          "runAfter": {
            "Get_Default_Risk_Assessment_Setting": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5f78f01-aa5e-43e7-9a14-f840cb5145ab"
          }
        },
        "Check_if_AssessmentSettingId_is_empty": {
          "type": "If",
          "expression": {
            "equals": [
              "@empty(triggerBody()?['text'])",
              "@true"
            ]
          },
          "actions": {
            "Add_archived_condition": {
              "type": "SetVariable",
              "inputs": {
                "name": "RiskAssessmentsFilterCondition",
                "value": "cat_isarchived eq false"
              },
              "metadata": {
                "operationMetadataId": "1637c44d-eb1f-4c90-bd6e-3bb6cffd76eb"
              }
            }
          },
          "else": {
            "actions": {
              "Add_archived_and_riskassessmentsetting_condition": {
                "type": "SetVariable",
                "inputs": {
                  "name": "RiskAssessmentsFilterCondition",
                  "value": "cat_isarchived eq false and _cat_riskassessmentsettingid_value eq @{triggerBody()?['text']}"
                },
                "metadata": {
                  "operationMetadataId": "cb249613-c9de-40dc-a6c3-103740ae65f4"
                }
              }
            }
          },
          "runAfter": {
            "Get_Custom_Security_Roles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28d68dc5-5216-482a-8560-7bb5f2e3be4d"
          }
        },
        "Initialize_RiskAssessmentsFilterCondition": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RiskAssessmentsFilterCondition",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_EnvironmentVariableValueId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "256f4b9e-4356-40a1-8729-fefe61dc3015"
          }
        },
        "Scope_for_custom_security_roles": {
          "type": "Scope",
          "actions": {
            "Apply_to_each_custom_security_role": {
              "type": "Foreach",
              "foreach": "@outputs('Get_Custom_Security_Roles')?['body/value']",
              "actions": {
                "Find_if_any_assessments_exist_for_the_current_security_role": {
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Get_Risk_Assessments_which_are_not_Archived')?['body/value']",
                    "where": "@equals(item()?['_cat_roleid_value'],items('Apply_to_each_custom_security_role')?['roleid'])"
                  },
                  "metadata": {
                    "operationMetadataId": "6d5ac320-740a-4825-87b0-8d8149f1dcea"
                  }
                },
                "Try_block": {
                  "type": "Scope",
                  "actions": {
                    "Check_if_there_any_assessments_present_for_the_role": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@empty(body('Find_if_any_assessments_exist_for_the_current_security_role'))",
                              "@true"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Append_unscannedroles_role_id": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "UnscannedRoles",
                            "value": "@items('Apply_to_each_custom_security_role')?['roleid']"
                          },
                          "metadata": {
                            "operationMetadataId": "31f4b462-e3ad-4617-8cd2-55823a7c144b"
                          }
                        },
                        "Create_new_assessment_for_the_current_role_with_status_as_Inprogress_2": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cat_riskassessments",
                              "item/cat_RiskAssessmentSettingId@odata.bind": "@variables('DefaultRiskAssessmentSettingReference')",
                              "item/cat_RoleId@odata.bind": "/roles(@{items('Apply_to_each_custom_security_role')?['roleid']})",
                              "item/cat_isarchived": false,
                              "item/statuscode": 192350002
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "runAfter": {
                            "Append_unscannedroles_role_id": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f45631ce-98b7-4319-900f-02258807e1de"
                          }
                        },
                        "Append_new_assessmentsid": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "NewAssessments",
                            "value": "@outputs('Create_new_assessment_for_the_current_role_with_status_as_Inprogress_2')?['body/cat_riskassessmentid']"
                          },
                          "runAfter": {
                            "Create_new_assessment_for_the_current_role_with_status_as_Inprogress_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "cf9a7f8c-a80f-4441-8dba-b1ec359b98f2"
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Append_existingroleid": {
                            "type": "AppendToArrayVariable",
                            "inputs": {
                              "name": "ExistingRoles",
                              "value": "@items('Apply_to_each_custom_security_role')?['roleid']"
                            },
                            "metadata": {
                              "operationMetadataId": "594de3ed-3f0b-4637-b42d-240e8bbeade6"
                            }
                          },
                          "Create_new_assessment_for_the_current_role_with_status_as_Inprogress": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "cat_riskassessments",
                                "item/cat_RiskAssessmentSettingId@odata.bind": "@variables('DefaultRiskAssessmentSettingReference')",
                                "item/cat_RoleId@odata.bind": "/roles(@{items('Apply_to_each_custom_security_role')?['roleid']})",
                                "item/cat_isarchived": false,
                                "item/statuscode": 192350002
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "connectionName": "shared_commondataserviceforapps"
                              }
                            },
                            "runAfter": {
                              "Set_Existing_assessment_as_archived": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "f45631ce-98b7-4319-900f-02258807e1de"
                            }
                          },
                          "Set_Existing_assessment_as_archived": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "cat_riskassessments",
                                "recordId": "@first(body('Find_if_any_assessments_exist_for_the_current_security_role'))?['cat_riskassessmentid']",
                                "item/cat_isarchived": true
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "UpdateOnlyRecord",
                                "connectionName": "shared_commondataserviceforapps"
                              }
                            },
                            "runAfter": {
                              "Append_existingroleid": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "9265844e-fcd3-421a-ad92-f16faf076502"
                            }
                          },
                          "Append_new_assessments_guid": {
                            "type": "AppendToArrayVariable",
                            "inputs": {
                              "name": "NewAssessments",
                              "value": "@outputs('Create_new_assessment_for_the_current_role_with_status_as_Inprogress')?['body/cat_riskassessmentid']"
                            },
                            "runAfter": {
                              "Create_new_assessment_for_the_current_role_with_status_as_Inprogress": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "6c328125-7cf9-49f4-bc94-a08e96a27e56"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "4dcaf3f7-829d-4b4a-beb6-8c3a563b4a89"
                      }
                    }
                  },
                  "runAfter": {
                    "Find_if_any_assessments_exist_for_the_current_security_role": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2c130ec1-62d6-49f9-9cf4-5f51f50491d7"
                  }
                }
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "metadata": {
                "operationMetadataId": "7c883634-7a75-4127-ab2e-a659bf22121f"
              }
            },
            "Update_BatchStatus_to_Success": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "environmentvariablevalues",
                  "recordId": "@variables('EnvironmentVariableValueId')",
                  "item/value": "{\"BatchId\":\"@{guid()}\",\"BatchStatus\":\"Success\"}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Catch_block": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "b20faae5-53ff-4c09-be24-ec6cb8d1632a"
              }
            },
            "Catch_block": {
              "type": "Scope",
              "actions": {
                "Update_BatchStatus_to_Error": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "environmentvariablevalues",
                      "recordId": "@variables('EnvironmentVariableValueId')",
                      "item/value": "{\"BatchId\":\"@{guid()}\",\"BatchStatus\":\"Error\",\"ErrorMessage\":\"@{length(variables('NewAssessments'))} of of total roles scanned successfully. \"}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "b20faae5-53ff-4c09-be24-ec6cb8d1632a"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_custom_security_role": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "a31f4260-9228-4df0-ba5e-b701608096bd"
              }
            }
          },
          "runAfter": {
            "Count_of_all_assessments_which_are_not_archived": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c6c71682-05ea-4f2f-8a88-e547c70fc8c4"
          }
        },
        "Count_of_all_assessments_which_are_not_archived": {
          "type": "Compose",
          "inputs": "@length(outputs('Get_Risk_Assessments_which_are_not_Archived')?['body/value'])",
          "runAfter": {
            "Count_of_custom_security_roles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4c8e7c30-5855-43c3-a47a-61ebc95f2e84"
          }
        },
        "Count_of_custom_security_roles": {
          "type": "Compose",
          "inputs": "@length(outputs('Get_Custom_Security_Roles')?['body/value'])",
          "runAfter": {
            "Get_Risk_Assessments_which_are_not_Archived": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "06a1178b-7d66-45fd-8b5e-cbbeb0af0565"
          }
        },
        "Get_Risk_Assessments_which_are_not_Archived": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_riskassessments",
              "$filter": "@variables('RiskAssessmentsFilterCondition')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Check_if_AssessmentSettingId_is_empty": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "metadata": {
            "operationMetadataId": "ec12da91-0d6c-4338-99e4-f86f9b4e4b45"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}